
#taskbar{
  background-color: #0040FF;
  color: black;
}

.spacer {
  flex: 1 1 auto;
}

.input_container {
  margin-top: 20px;
  padding-left: 10%;
  width: 100%;
}

.input {
  width: 250%;
}

td {
  padding-right: 8px;
}

.item_container {
  margin: 5px;
  width: 300px;
  max-width: 1000px;
  background-color: #429EF4;
}

#add_btn, #info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
}

#btn_container {
  display: flex;
  justify-content: center;
}

#add_btn {
  height: 100%;
  background-color: #ADEB78;
  color: black;
  font-size: smaller; 
}

#add_btn:hover {
  background-color: #298912;
}

#content_container {
  margin: 20px;
}

.post{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px 100px;
}



#toolbar {
  height: 80px;
}


.button {
  background-color: white;
  margin: 10px;
}

#footer {
  display: flex;
  justify-content: center;
}