
<div id = "taskbar_container">
  <mat-toolbar id="taskbar">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>TK Shop</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div id="content">
  <div class="post">
    <mat-card class="item" *ngFor="let post of posts">
      <mat-card-content id="info">
        <h1>{{post.name}}</h1>
      <img mat-card-image src="{{post.image}}">
      <br>
        <p>Chất liệu: {{post.material}}</p>
        <p>Giá: {{post.price}}</p>
        <p>HDSD: {{post.sub}}</p>
        <p *ngIf="post.order == false">Tình trạng: Còn hàng</p>
        <p *ngIf="post.order == true">Tình trạng: Hết hàng</p>
        <br>
      </mat-card-content>
      <mat-card-actions id="btn">
        <button mat-button id="add">MUA</button>
      </mat-card-actions>
    </mat-card>
    
  </div>
  
  <div id="footer">
    <div>
      <button class="button" mat-stroked-button color="black">1</button>
      <button class="button" mat-stroked-button color="black">2</button>
      <button class="button" mat-stroked-button color="black">3</button>
      <button class="button" mat-stroked-button color="black">></button>
      <button class="button" mat-stroked-button color="black">>></button>
    </div>
  </div>
</div>

