
#taskbar{
  background-color: #0040FF;
  color: black;
}

.spacer {
  flex: 1 1 auto;
}

#info{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item {
  // height: 650px;
  width: 310px;
  background-color: #429EF4;
  border-radius: 20px;
  box-shadow: 5px 5px rgb(200, 200, 200);

}


#btn {
  display: flex;
  justify-content: center;
}

#add {
  border-radius: 20px;
  background-color: #ADEB78;
  color: black;
  font-size: smaller; 
  display: flex;
  justify-content: center;
}

#add:hover {
  background-color: #298912;
}

.post{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px 100px;
}

.button {
  background-color: white;
}

.button:hover{
  background-color: rgb(150, 150, 150);
}

#footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}